li {
  background-color: yellow;
  font-size: 20px;
}

li:nth-child(n + 1) {
  color: green;
}

li:nth-child(2n + 1) {
  text-decoration: wavy;
}

h1,
h2,
h3 {
  color: red;
}

h1,
h2,
h3 em {
  text-size-adjust: 40px;
  border: 1px black solid;
}

li em {
  font-weight: 900;
}

li:nth-child(-n + 3) {
  color: blue;
}

.java {
  background-color: pink;
}
